fastapi
asyncpg
uvicorn
pydantic
sqlalchemy
databases
psycopg2-binary
passlib
PyJWT
python-jose
requests
httpx
python-multipart
sentry-sdk
python-dotenv
python-socketio
aiohttp
Pillow
pyzbar
pandas
xlrd