fastapi
asyncpg
uvicorn
pydantic
sqlalchemy
databases
psycopg2-binary
passlib
PyJWT
python-jose
requests
httpx
python-multipart
sentry-sdk
python-dotenv
python-socketio
aiohttp
Pillow
pyzbar
pandas
xlrd
--extra-index-url https://repo.basalam.dev/artifactory/api/pypi/basalam-pypi-local/simple
backbone-auth-sdk
redis